[tool.poetry]
name = "src"
version = "0.0.0"
description = ""
authors = ["Filips Nastins <nastinsfilips@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.12"
asyncssh = "^2.15.0"
pydantic = "^2.8.2"
structlog = "^24.1.0"
tomodachi = "^0.27.2"
types-aiobotocore = { extras = [
    "dynamodb",
    "s3",
    "sns",
    "sqs",
], version = "^2.5.2" }
uvloop = "^0.19.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^24.1.1"
isort = "^5.12.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
debugpy = "^1.8.2"
pytest-cov = "^4.1.0"

[tool.black]
line-length = 120
target-version = ['py312']

[tool.mypy]
python_version = "3.12"
ignore_missing_imports = true

[tool.coverage.run]
branch = true
source = ["src/"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
